.fusuma {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: stretch;
  flex-direction: row;
  align-items: stretch;
  max-width: 100%;
  height: auto;
  width: auto;
}

.fusuma-slide {
  transition: ease;
  transition-duration: 1s;
  margin-right: var(--fusuma-slide-margin-hide);
  overflow: hidden;
  container-type: size;
}

.fusuma-slide:hover {
  transition: ease;
  transition-duration: 1s;
  margin-right: 0;
}

.fusuma-slide.fusuma-slide-default {
  width: 120px;
  height: 400px;
  background: linear-gradient(to right, #999, #666);
  border: 1px solid white;
  --fusuma-slide-margin-hide: -20px;
}

.fusuma-slide.fusuma-slide-default:hover {
  width: 300px;
}

.fusuma-slide.features-fusuma-slide {
  background-color: #eee;
  background: linear-gradient(to bottom, #eee, #ddd);
  border-radius: 10px;
  padding: 0;
}

.fusuma-slide h4 {
  color: white;
  text-shadow: 1px 1px 0 black;
  padding: 10px;
  width: 300px;
}

.fusuma-slide p {
  color: #373737;
  text-shadow: 1px 1px 1px #ffffff, -1px -1px 2px #ffffff;
  padding: 0 10px;
  width: 100cqw;
  width: 300px;
}

.fusuma-slide > .features-fusuma-text-stack {
  position: absolute;
  bottom: 0;
  background: linear-gradient(to bottom, #00000000, #bfcbd2dd, #ffffffff);
  border-radius: 8px;
  overflow: hidden;
  width: 100cqw;
}

h4 {
  font-family: 'Xolonium';
}

