@font-face {
	font-family: 'Xolonium';
	src: url(../../assets/fonts/Xolonium-d6aede6303dae75abe899b30adb4ac9b.woff2) format('woff2'),
	url(../../assets/fonts/Xolonium-1e4902c58fac1205ae91302a3e0ff34b.woff) format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}